  
  <div class="container-fluid" >

    <div class="d-sm-flex align-items-center justify-content-between mt-4">
        <h1 class="h3 mb-0 text-gray-800">Student List</h1>
        <a [routerLink]="['/addstudent']"  class="d-sm-inline-block btn btn-sm text-dark btn-warning shadow-sm"><i
                class="fa fa-add fa-sm text-dark-50"></i>Add Student</a>
    </div>
    
    <div class="card shadow mt-4 mb-4" >
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Table</h6>
        </div>
    
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="bg-secondary" style="color:white">ID</th>
                            <th class="bg-secondary" style="color:white">Name</th>
                            <th class="bg-secondary" style="color:white">Email</th>
                            <th class="bg-secondary" style="color:white">Phone</th>
                            <th class="bg-secondary" style="color:white">Action</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr *ngFor="let student of studentList">
                            <td>{{student.id}}</td>
                            <td>{{student.studentName}}</td>
                            <td>{{student.studentEmail}}</td>
                            <td>{{student.phoneNumber}}</td>
                            <td>
                                <button [routerLink]="['/viewAttendance',student.id]" class="btn btn-success btn-sm m-2">View attendance</button>
                                <button [routerLink]="['/edit-student',student.id]" class="btn btn-primary btn-sm m-2">Edit</button>
                                <button class="btn btn-danger btn-sm" (click)="deleteStudent(student.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
    
                </table>
                </div>
            </div>
    </div>





  </div>
    